nav {
  border-bottom: groove;
  margin-bottom: 1em;
}

nav ul {
  margin-left: 0;
  list-style-type: none;
  padding-left: 0;
  font-style: italic;
}

nav li {
  display: inline;
}

nav h1 span {
  margin-right: 0.3em;
}

[v-cloak] {
  display: none;
}
